.DS_Store
.prettierrc
__MACOSX
robots.txt.dist
*.zip
LICENSE.txt
README.txt
configuration.php
htaccess.txt
.htaccess
index.php
robots.txt
web.config.txt

/.vscode
/api
/bin
/cache
/cli
/components
/images
/includes
/layouts
/libraries
/logs
/media
/modules
/tmp
/node_modules

!/administrator
/administrator/*
!/administrator/language
/administrator/language/*
!/administrator/language/en-GB
/administrator/language/en-GB/*
!/administrator/language/en-GB/en-GB.plg_system_helix3.ini

!/language
/language/*
!/language/en-GB
/language/en-GB/*
!/language/en-GB/en-GB.tpl_shaper_helix3.ini

!/plugins
/plugins/*
!/plugins/system
/plugins/system/*
!/plugins/system/helix3
!/language/system/helix3
!/plugins/ajax
/plugins/ajax/*
!/plugins/ajax/helix3
!/language/ajax/helix3

!/templates
/templates/*
!/templates/shaper_helix3